@font-face {
  font-family: "Arvo";
  src: local("Arvo"), url("Arvo-Bold.ttf") format("opentype") tech(color-COLRv1),
    url("Arvo-BoldItalic.ttf") format("opentype"),
    url("Arvo-Italic.ttf") format("opentype"),
    url("Arvo-Regular.ttf") format("opentype");
}

:root {
  --blue: #197aaa;
  --lightblue: #4c99c0;
  --chocolate: #3d1901;
  --light: #ffc803;
  --special: #f7afbe;
  --white: #fff;
}

/* Animación */

.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Cursor */

.pointer {
  cursor: pointer;
}

/* Enlaces */

.rk-menu__link {
  color: var(--chocolate);
}

.rk-menu__link:hover {
  color: var(--special);
}

.rk-menu__link:focus {
  color: var(--special);
}

a:hover {
  color: var(--special);
}

/* Texto seleccionado */

*::selection {
  background-color: var(--special);
  color: var(--white);
}

/* Home - Logo */
.rk-logo {
  margin-top: -1rem;
  margin-left: 1.45rem;
  margin-bottom: 3rem;
}

/* Home - Menú de navegación */

.rk-menu__link {
  padding: 0;
  position: relative;
}

.rk-menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--special);
  transition: width 0.3s ease;
}

.rk-menu__link:hover::after,
.rk-menu__link.active::after {
  width: 100%;
}

@media (min-width: 64em) {
  .rk-navigation {
    margin-right: 81px;
    margin-top: 30px;
  }
}

.menor {
  font-size: 12px;
}

.justify {
  text-align: justify;
}

@media (max-width: 40em) {
  /* Sobre mí y Contacto */
  .ae-grid {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  /* Admin */
  .login-box {
    width: 330px !important;
  }
  .form-group {
    margin-bottom: 5px !important;
  }
}

@media (max-width: 1100px) {
  .margen {
    margin-bottom: 10px;
  }
}
