.menu-item {
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.submenu.active {
  max-height: 100px; /* Ajusta este valor a la altura deseada del submenú desplegado */
}

  
  
  
  